reallyfastci_url: http://localhost:1323
github_token: abcdefg
repo_url: https://github.com/ailisp/gcbapp-buildconfig-example
push_trigger_branches: ["master"]
machine:
    prefix: reallyfastci-runner
    max_machines: 10
    idle_machines: 2
    machine_type: n1-standard-2
    disk_size_gb: 50
    image_project: ubuntu-os-cloud
    image_family: ubuntu-1804-lts
    zone: us-west2-a

build:
    script: ./build.sh
    timeout_minutes: 30